ion-content {
  --background: url('https://www.transparenttextures.com/patterns/dark-matter.png') fixed;
}

ion-item {
  --background: rgba(10, 10, 26, 0.8);
  --color: #fff;
  margin: 8px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 229, 255, 0.1);
}

ion-searchbar {
  --background: #111;
  --color: #00e5ff;
}
