<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title style="text-align: right;">إدارة</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div style="text-align: center; margin-top: 20px;">
    <ion-avatar style="margin: 0 auto; width: 100px; height: 100px; border: 3px solid #000;">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2 style="font-weight: bold;">منير بن علال</h2>
    <p color="medium">مطوّر تطبيقات - المغرب</p>
  </div>

  <ion-list lines="inset" style="margin-top: 30px; border-radius: 15px;">
    <ion-item button>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label style="text-align: right;">تعديل الملف الشخصي</ion-label>
    </ion-item>

    <ion-item button>
      <ion-icon name="diamond-outline" slot="start"></ion-icon>
      <ion-label style="text-align: right;">جواهر</ion-label>
    </ion-item>

    <ion-button expand="block" color="danger" style="margin-top: 20px; font-weight: bold;">
      تسجيل الخروج
    </ion-button>
  </ion-list>
</ion-content>
