<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>إعدادات وسيرفرات العنان</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-icon name="server-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h2>خادم النواة الرئيسي</h2>
        <p>الحالة: متصل (Online)</p>
      </ion-label>
      <ion-badge slot="end" color="success">نشط</ion-badge>
    </ion-item>

    <ion-item button (click)="clearCache()">
      <ion-icon name="trash-outline" slot="start" color="danger"></ion-icon>
      <ion-label>تطهير المخلفات (Clean System)</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
